@import url('reset.css');

html, body { width: 100%; }

body { font-size: 62.5%; }

.float_left { float: left; }
.float_right { float: right; }

.hr { width: 100%; height: 1px; overflow: hidden; background-color: #ccc; }

.hr hr { display: none; }

/* slightly enhanced, universal clearfix hack */

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-block; }

/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* close commented backslash hack */


/* @group MESSAGES */

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin-bottom: 10px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	list-style-type: disc;
}
.info li, .success li, .warning li, .error li, .validation li {
	margin: 0 0 0 16px;
	padding: 2px 0;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.info a:link {
	color: #00529B !important;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.success a:link {
	color: #4F8A10 !important;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.warning a:link {
	color: #9F6000 !important;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}
.error a:link {
	color: #D8000C !important;
}
.validation {
	color: #D63301;
	background-color: #FFCCBA;
}
.validation a:link {
	color: #D63301 !important;
}


/* @end */